.video {
    background-color: #31D4E7;
    padding: 60px 1rem;
    text-align: center;
    margin: auto;
   }
   
   .video__without-brawl {
       width: 250px;
       text-align: center;
       margin: auto;
   }
   
   .video__title {
       font-family: 'Raleway',  sans-serif;
       font-weight: 700;
       color: #222222;
       text-transform: uppercase;
       font-size: 18px;
       margin-bottom: 25px;
   }
   
   .video__text {
       font-family: 'Open Sans', sans-serif;
       font-weight: 400;
       font-size: 14px;
       color: #ffffff;
       text-align: center;
       margin-bottom: 45px;
   }
   
   .video__icon {
       width: 156px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       text-align: center;
       margin: 0 auto;
   }
   
   .video__apple {
      border: 0 solid #ffffff;
      border-radius: 50%;
      background-color: #0098CD;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
   }
   
   .video__apple-item {
      padding: 19px 21px;
   }
   
   .video__android {
       border: 0 solid #ffffff;
       border-radius: 50%;
       background-color: #0098CD;
       display: inline-flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
   }
   
   .video__android-item {
       padding: 18px 20px;
   }
   
   .video__brawl {
     width: 286px;
     border-radius: 6px;
     margin-top: 37px;
   }
   
   @media screen and (min-width: 768px) {
       
       .video__without-brawl {
           width: 550px;
       }
   
       .video__title {
           font-size: 28px;
           margin-bottom: 23px;
       }
   
       .video__icon {
           margin-bottom: 58px;
       }
   
       .video__text {
           font-size: 16px;
       }
   
       .video__brawl {
           width: 530px;
       }
   }
   
   @media screen and (min-width: 1200px) {
       .video {
           display: flex;
           justify-content: space-between;
           padding-left: 49px;
           padding-right: 49px;
       }
   
       .video__without-brawl {
           text-align: left;
           margin: 0;
           margin-top: 45px;
       }
   
       .video__text {
           text-align: left;
       }
   
       .video__icon {
           text-align: left;
           margin: 0;
           display: flex;
           align-items: flex-start;
       }
   
       .video__brawl {
           margin-bottom: 33px;
       }
   }