.feedback {
    position: relative;
    margin-bottom: 50px;
}

.feedback__title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #330cf4;
  overflow: hidden;
  margin-bottom: 15px;
  text-align: center;
}

.feedback__title--wrapper {
  display: block;
  text-align: center;
}

.feedback__title--wrapper:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: #babdc1;
  vertical-align: middle;
  margin-right: 21px;
}

.feedback__title--wrapper:after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: #babdc1;
  vertical-align: middle;
  margin-left: 21px;
}

.feedback__slider input[type="radio"] {
  display: none;
}

.feedback__slider--inner {
  overflow: hidden;
}

.feedback__slider--slides {
  width: 300%;
  transition: transform 0.8s ease;
}

.feedback__slider--slides div {
  float: left;
  width: 99vw;
  height: 320px;
}

.feedback__slider--controls {
  margin-bottom: 10px;
  text-align: center;
}

.feedback__slider--controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  background-color: #cccccc;
  border-radius: 50%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  transition: background-color 0.2s;
  cursor: pointer;
}

#btn-1:checked ~ .feedback__slider--controls label[for="btn-1"],
#btn-2:checked ~ .feedback__slider--controls label[for="btn-2"],
#btn-3:checked ~ .feedback__slider--controls label[for="btn-3"] {
  background-color: whitesmoke;
}

#btn-1:checked ~ .feedback__slider--inner .feedback__slider--slides {
  transform: translate(0);
}

#btn-2:checked ~ .feedback__slider--inner .feedback__slider--slides {
  transform: translate(-100vw);
}

#btn-3:checked ~ .feedback__slider--inner .feedback__slider--slides {
  transform: translate(-200vw);
}

.feedback__name {
  position: relative;
  /* transform: translate(0%, 100%); */
  top: 0px;
  padding-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #062033;
}

.feedback__user--appointmant {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #646464;
  margin-bottom: 30px;
}

.feedback__slider {
  display: flex;
  flex-direction: column-reverse;
}

.feedback__description {
  text-align: center;
  position: absolute;
  top: 180px;
  width: 85vw;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #363436;
  /* overflow: hidden;
  text-overflow: ellipsis;
  height: 570px;
  white-space: nowrap; */
}

.feedback__description--everything{
  text-align: center;
  position: absolute;
  top: 180px;
  width: 85vw;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #363436;
}

.feedback__slider--inner::before {
  content: "";
  position: absolute;
  display: block;
  top: 285px;
  left: 0px;
  background-image: url(../img/123.png);
  width: 50px !important;
  height: 40px !important;
  /* z-index: 999; */
}

.feedback__wrapper--text {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  align-items: center;
}

.feedback__bcg1 {
  display: flex;
  height: 90px;
  background-image: url(../img/Partner_1.jpg);
  background-position: center;
  background-size: contain;
  object-fit: contain;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #c4c7c7;
  overflow: hidden;
  /* margin: 0 auto 30px;  */
  width: 103px !important;
  height: 103px !important;
}

.feedback__bcg2 {
  display: flex;
  height: 90px;
  background-image: url(../img/Partner_3.jpg);
  background-position: center;
  background-size: contain;
  object-fit: contain;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #c4c7c7;
  overflow: hidden;
  /* margin: 0 auto 30px;  */
  width: 103px !important;
  height: 103px !important;
}

.feedback__bcg3 {
  display: flex;
  height: 90px;
  background-image: url(../img/Partner_4.jpg);
  background-position: center;
  background-size: contain;
  object-fit: contain;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #c4c7c7;
  overflow: hidden;
  /* margin: 0 auto 30px;  */
  width: 103px !important;
  height: 103px !important;
}

label:hover {
  background-color: #330cf4;
}

.feedback__description--everything{
  display: none;
}

@media screen and (min-width: 768px) {
  .feedback__title--wrapper::before {
    display: none;
  }

  .feedback__title--wrapper::after {
    display: none;
  }

  .feedback__title::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #babdc1;
    vertical-align: middle;
    margin-right: 21px;
    margin-top: 16px;
  }

  .feedback__title::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #babdc1;
    vertical-align: middle;
    margin-left: 21px;
    margin-top: 16px;
  }

.feedback__description{
display: none;
}

  .feedback__description--everything {
    display: block;
    
  }

  .feedback__slider--inner::before {
    top: 288px;
    left: 5px;
  }

  .feedback__description {
    top: 200px;
  }

  .feedback__title {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
}

.feedback__title--wrapper{
  margin-right: 10px;
}

@media screen and (min-width: 1024px) {
  .feedback__description--everything {
    width: 60vw;
  }

  .feedback__slider--inner::before {
    top: 290px;
    left: 160px;
  }

  .feedback__description {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .feedback__description--everything {
    font-size: 21px;
  }

  .feedback__slider--inner::before {
    top: 287px;
    left: 232px;
  }
}