

.services {
   width: 980px;
   margin: auto;
   text-align: center;
   margin-bottom: 120px;
}

.services_title {
   text-transform: uppercase;
   font-family: 'Roboto Slab', serif;
   font-weight: 700;
   font-size: 40px;
   color: #222222;
   margin-bottom: 20px;
}

.services_text {
   color: #777777;
   font-style: italic;
   font-family: 'Roboto Slab', serif;
   font-weight: 400;
   margin-bottom: 80px;
}

.services_cards {
  display: flex;
  justify-content: space-between;
}

.services_card_list {
  width: 280px;
}

.services_img {
    width: 69px;
    height: 69px;
   border-radius: 50%;
   border: 3px solid #FED136;
   margin-bottom: 28px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   
}


.services_card_title {
   color: #222222;
   font-family: 'Roboto Slab', serif;
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 18px;
}

.services_card_text {
   font-size: 14px;
   color: #777777;
   font-family: 'Roboto Slab', serif;
   font-weight: 400;
}
